@import 'tailwindcss';
@import 'uniwind';

@theme {
  /** Border Radius */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /** Font Size */
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.25rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;

  /** Transitions & Shadows */
  --default-transition-duration: 350ms;
  --shadow-center: 0 0 1rem 0 var(--color-contrast);
}

@layer theme {
  :root {
    font-size: 14px;

    @media (min-width: 1024px) {
      font-size: 18px;
    }
    @media (min-width: 1280px) {
      font-size: 22px;
    }
    @media (min-width: 1536px) {
      font-size: 27px;
    }
    @media (min-width: 1792px) {
      font-size: 32px;
    }


    @variant dark {
      --color-content: #dadada;
      --color-card: #131313;
      --color-contrast: #000000;
    }

    @variant light {
      --color-content: #131313;
      --color-card: #dadada;
      --color-contrast: #ffffff;
    }
  }
}

@layer utilities {
  .font-tektur {
    font-family: 'Tektur-Regular';
    letter-spacing: 0.05em;
  }

  .font-comicRelif {
    font-family: 'ComicRelief-Bold';
    letter-spacing: 0.05em;
  }

  .transform-scale-250 {
    transform: scale(2.5);
  }
}

.main-container {
  @apply p-safe-offset-4 mx-auto max-w-lg grow items-center justify-evenly gap-4;

  @media (orientation: landscape) {
    @apply max-w-full flex-row flex-wrap content-center gap-8;
  }
}
